# Node.js
node_modules/
.env
*.log

# Systemowe
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
node_modules/
log*.txt
*.log

# ignore runtime folders
logs/
exports/

# python venv
.venv/
skrypt/.venv/
__pycache__/
*.pyc

# logs/exports
logs/
exports/

# python venv
.venv/
skrypt/.venv/
